$spacing-md: 20px;
$br-lg: 15px;
$app-background-color: rgb(224, 224, 224);

.demo {
  font-family: "Roboto";
  color: orange;
}

body {
  margin: 0;
  padding: 0;
}

.appPage {  
  margin: $spacing-md auto;
  width: 50%;
  height: 75vh;
  border: 2px solid black;
}

.navPanel {
  padding: $spacing-md;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-bottom: 2px solid black;
}

.navPanelIcon {
  border: none;
  background-color: transparent;
  padding: 0;
}

.navPanelIcon:hover {
  cursor: pointer;
}

.content {
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $spacing-md;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;
}

.creditCardNumber {
  width: 100%;
  box-sizing: border-box;
}

.form > fieldset {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form > fieldset > input {
  width: 35%;
}

.form > button {
  width: 100%;
}